@using IntProgFinalProject.Models.Entity
@model List<TBLCOMPANIES>
@{
    ViewBag.Title = "Ilanekle";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

   
    @*<form class="form-group" method="post">

        <div>
            
            <label>Ilan Başlığı</label>
            <input type="text" class="form-control" name="Header" />
            <label style="display:none;">Ilan Sahibi</label>
            <input style="display:none;" type="text" readonly class="form-control" name="Owner" value="@ViewBag.sirketid" />
            <label>Ilan Hakkında</label>
            <input type="text" class="form-control" name="About" />

            <label>Ilan Kategorisi</label>
            <input type="text" class="form-control" name="Category" />
            <label style="display:none;">Ilan Sektörü</label>
            <input style="display:none;" type="text" readonly class="form-control" name="Sector" value="@ViewBag.sirketsector" />
        </div>
        <div style="margin:15px;">
            <button class="btn btn-info">İlan Ekle</button>
        </div>
      

    </form>*@

