@using IntProgFinalProject.Models.Entity;
@model List<TBLJOBOPENINGS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<h2 style="text-align:center;"> @ViewBag.sirketkullanici, Kariyer Sitesine Hoşgeldiniz..</h2>





