
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #062e51;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>

    <nav style="background-color: #062e51;" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color: white;" class="navbar-brand" href="/Company/Index">Kariyer Sitesi</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Company/Ilanlarım">İlanlarım</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Company/Profil"><span class="glyphicon glyphicon-user"></span> Profilim</a></li>
                <li><a href="/Login/CikisYap"><span class="glyphicon glyphicon-log-in"></span> Çıkış Yap</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <br />
    <br />


    <div class="footer">
        <p>Kariyer Sitesi Proje Çalışması</p>
    </div>

</body>
</html>
